.comments {
  width: 100%;
  max-width: 810px;
  margin: 0 auto;
}

.comments__inner {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.comment__list {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 40px;
}

.comment__pagination {
  display: flex;
  justify-content: space-between;

  font-family: var(--inter-font);
}

.pagination__btn {
  padding: 10px 15px;

  border: none;
  border-radius: 6px;

  background-color: var(--activity-main-color);

  font-family: var(--inter-font);
  font-size: 18px;
  font-weight: 600;
  color: var(--activity-text-color);

  cursor: pointer;
}

.pagination__btn:hover {
  background-color: var(--activity-hover-color);
}

.pagination__btn:disabled {
  background-color: var(--ghost-text-color);
  cursor: default;
}

.jump .pagination__btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.jump__input {
  height: 100%;
  margin-right: -10px;

  text-align: center;
}

/* Chrome, Safari, Edge, Opera */
.jump__input::-webkit-outer-spin-button,
.jump__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.jump__input[type="number"] {
  -moz-appearance: textfield;
}
