.title {
  margin-bottom: 32px;

  font-family: var(--gilroy-font);
  font-weight: 700;
  font-size: 32px;
  text-transform: uppercase;
}

.news__another {
}

.another__content {
  display: flex;
  flex-direction: column;
  gap: clamp(10px, 1.5vw, 24px);
}

@media (max-width: 880px) {
  .another__item {
    padding-bottom: 5px;
    border-bottom: 1px solid var(--activity-main-color);
  }
}

@media (max-width: 600px) {
  .title {
    margin-bottom: 12px;
  }
}
