.news__another {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.another__content {
  display: flex;
  flex-direction: column;
  gap: clamp(10px, 1.5vw, 24px);
}

@media (max-width: 880px) {
  .another__item {
    padding-bottom: 5px;
    border-bottom: 1px solid var(--activity-main-color);
  }
}

@media (max-width: 600px) {
  .news__another {
    gap: 12px;
  }
}
