.display {
}

.banner {
  width: 100%;
}

.text__content {
  position: relative;
  z-index: 100;

  max-width: 1080px;
  padding: 0 10px;
  margin: 0 auto;
  margin-top: clamp(-115px, -10vw, -60px);
}

.tag_list {
  display: flex;
  gap: 16px;

  margin-bottom: 16px;
}

.tag__link {
  display: inline-block;
  padding: 10px 16px;

  background-color: var(--main-background-color);
}

.tag__link:hover {
  background-color: var(--activity-main-color);
  color: var(--main-background-color);
}

.tag {
  font-family: var(--inter-font);
  font-weight: 500;
}

.tag span {
  display: inline-block;
}

.tag span::first-letter {
  text-transform: uppercase;
}

.title {
  padding: 8px 19px;
  margin-bottom: clamp(20px, 4.5vw, 40px);

  font-family: var(--gilroy-font);
  font-weight: 600;
  color: var(--main-background-color);
  font-size: clamp(25px, 5vw, 60px);
  background-color: var(--activity-main-color);

  cursor: default;
}
