.result {
  width: 70%;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.result__title {
  font-family: var(--gilroy-font);
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 700;
}

.result__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.result__item {
  display: flex;
  flex-direction: column;
  gap: 5px;

  padding-bottom: 10px;

  border-bottom: 3px solid var(--activity-main-color);
}

.item__link:hover h3 {
  color: var(--activity-main-color);
}

.item__link:hover img {
  transform: scale(1.05);
}

.item__main {
  display: flex;
  gap: 10px;
}

.item__img {
  max-width: clamp(150px, 100%, 350px);
  aspect-ratio: 16/9;
}

.item__title {
  font-family: var(--gilroy-font);
}

.item__additional {
  display: flex;
  justify-content: space-between;
}

.item__tags {
  display: flex;
  gap: 10px;
}

.result__nothing {
  font-family: var(--inter-font);
  font-size: 20px;
}

@media (max-width: 1000px) {
  .result {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .item__main {
    flex-direction: column;
  }
}
