.social__list_horizontal {
  display: flex;
  gap: 22px;
}

.social__list_vertical {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  aspect-ratio: 1;

  background-color: var(--secondary-text-color);
}

.social__link:hover {
  background-color: var(--activity-main-color);
}

.social__img {
  width: 70%;
}
