.header {
  padding: 8px 0;
  margin-bottom: 56px;

  font-family: var(--gilroy-font);
  font-weight: 600;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: end;
  gap: 4px;
}

.logo:hover {
  transform: scale(1.05);
}

.logo__rectangle {
  display: inline-block;
  width: 35px;
  height: 56px;
  border: 5px solid var(--activity-main-color);
}

.logo__title {
  font-family: var(--inter-font);
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 1;
}

.header__nav {
  display: flex;
  gap: 32px;
}

.nav__list {
  display: flex;
  gap: 32px;
}

.search__link {
}

.search__link:hover {
  transform: scale(1.2);
}

.search__img {
}

.login {
  padding: 10px 50px;

  background-color: var(--activity-main-color);
  border: 1px solid var(--activity-main-color);

  font-size: 18px;
  font-weight: 700;
  color: var(--activity-text-color);
}

.login:hover {
  background-color: var(--activity-hover-color);
}
