.header {
  padding: 8px 0;
  margin-bottom: 56px;

  font-family: var(--gilroy-font);
  font-weight: 600;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
}

.logo_img {
}

.logo_img:hover {
  transform: scale(1.05);
}

.header__nav {
  display: flex;
  gap: 32px;
}

.nav__list {
  display: flex;
  gap: 32px;
}

.search__link {
}

.search__link:hover {
  transform: scale(1.2);
}

.search__img {
}

.login {
  padding: 10px 50px;

  background-color: var(--activity-main-color);
  border: 1px solid var(--activity-main-color);

  font-size: 18px;
  font-weight: 700;
  color: var(--activity-text-color);
}

.login:hover {
  background-color: var(--activity-hover-color);
}
