.loading {
  margin: 0 auto;

  width: 100px;
  aspect-ratio: 1;
  border: 20px solid var(--activity-main-color);
  border-radius: 50%;
  border-right: 20px solid var(--main-background-color);

  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
