:root {
  --main-text-color: #333333;
  --main-background-color: #fff;

  --secondary-text-color: #181818;

  --activity-main-color: #ef3124;
  --activity-hover-color: #991a11;
  --activity-text-color: #fff;

  --ghost-text-color: #b3b3b3;

  --background-hover-color: #e6dada;
}
