.not_found {
  font-family: var(--proxima-nova-font);
  font-weight: 400;
  color: var(--ghost-text-color);
  text-align: center;
}

.not_found__inner {
}

.title {
  font-size: 12vw;
}

.text {
  margin-bottom: 3vh;

  font-size: 3vw;
}

.link {
  padding: 1.5vh 5vw;
  background-color: var(--activity-main-color);

  font-size: 4vw;
  color: var(--activity-text-color);
}

.link:hover {
  background-color: var(--activity-hover-color);
}
